body.h1.h2.h3.p{
    font-family: Helvetica Neue;
}
input{
    display: block;
    margin-top: 0px;
}
h1 {
    text-align: center;
  }
div{
   margin: 5px;  
  }
#div2{
    width: 400px;
    text-align: center;
    display:inline-block;
    
}

h3{
    text-align: center;
    
}
#div3{
    display: inline-block;
    width: 800px;
    height: 335px;
    border-color: #9da4db;
    border-style: solid ;
    border-radius: 3px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #d6daf3;
  }
  #estadoNombre{
      color: brown;
  }
  #estadoNoTelefono{
    color: brown; 
  }
  #estadoApellido{
    color: brown; 
  }
  #estadoDireccion{
    color: brown; 
  }
  #estadoMail{
    color: brown;
  }
  #btnModificar{
      visibility: hidden;
  }